<h2>View All</h2>
<br />
<br />
<br />
<ul ng-repeat="cigar in cigars" class="col-sm-6 col-md-4 photo">
    <li>
        <div class="cigarDetail" ng-click="viewAllDetail(cigar.CigarID)">
            <img class="image" id="image" ng-src="{{cigar.Photo}}" /><br /> <br />
            <b>Brand:</b> {{cigar.CigarBrand}}, <br /> <b>Series:</b> {{cigar.Series}}, <br />
            <b> Description:</b> {{cigar.Description}}, <br /><b>Whiskey Pairing:</b> {{cigar.WhiskeyBrand}}  <br />
        </div>
    </li>
</ul>